{% extends 'base.html' %}
{% block title %} Order Detail {% endblock %}

{% block body %}


<div class ='col-sm-6 col-sm-offset-3'>
  <strong><p style="color: red">Your booking was successfully.We will contact you soon After  your payment done .Your booking details are as bellow please finsh your payment using yenepay 
  </p></strong>
  <p class="list-group-item active">
    <strong><span class="glyphicon glyphicon-tag"></span> Booking Detail</strong>
  </p>
   <a href="" class="list-group-item"><strong>City: </strong>{{detail.city}}</a>
  <a href="" class="list-group-item"><strong>Tenant name: </strong>{{detail.tenant_name}}</a>
  <a href="" class="list-group-item"><strong>Phone No: </strong>{{detail.cell_no}}</a>
  <a href="" class="list-group-item"><strong>Address: </strong>{{detail.address}}</a>
  <a href="" class="list-group-item"><strong>From: </strong>{{detail.from_date}}</a>
  <a href="" class="list-group-item"><strong>To: </strong>{{detail.to}}</a>
  <a href="" class="list-group-item"><strong>Order Id: </strong>{{detail.id}}</a><br>
  <div class="pull-right">
    <a href="{% url 'order_edit' detail.id %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit Booking</button></a>
    <a href="{% url 'order_delete' detail.id %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel Booking</button></a>
    
    <!-- <a href=""><button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Print</button></a> -->

    <button type="button" class="btn btn-warning" onclick="window.print()" > <span class="glyphicon glyphicon-print"></span> Print</button>
    <a href="{% url 'payment_with_express' %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-ok"></span> pay</button></a>


  </div>
</div>

{% endblock %}